[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
djangorestframework = "*"
pillow = "*"
django-qr-code = "*"
django-localflavor = "*"
django-crispy-forms = "*"
django-phone-field = "*"
requests = "*"
boto3 = "*"
django-storages = "*"
psycopg2 = "*"
twilio = "*"
django-twilio = "*"

[requires]
python_version = "3.7"
