{% extends 'base.html' %}

{% block content %}
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}" >
        {% csrf_token %}
        {{ form.as_p }}
          <button type="submit">Login</button>
        <input type="hidden" name="next" value="{% url 'petspace:dashboard' %}" />
    <div>
        Don't have an account?
        <button>
            <a href="{% url 'accounts:signup' %}">Sign Up</a>
        </button>
    </div>
    <div>
        <button><a href="{% url 'petspace_info:index' %}">Go back Home</a></button>

    </div>
    </form>
{% endblock %}