{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <nav class="breadcrumbs" aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ffffff;">
            <li class="breadcrumb-item"><a href="{% url 'petspace_info:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'login' %}">Login</a></li>
            <li class="breadcrumb-item active" aria-current="page">Forgot password</li>
        </ol>
    </nav>

    <div class="row">

        <div class="col-sm-4">
            <img class='pet_profile_picture img-thumbnail img-fluid full-width margin-bottom'
                 src="{% static 'images/animal-cat.jpg' %}" alt="#">
        </div>
        <div class="col-sm-8">
            <h2>Forgot password</h2>
            <p>
                We've emailed you instructions for setting your password, if an account exists with the email you
                entered.
                You should receive them shortly.
            </p>
            <p>
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
            </p>

            <p></p>
        </div>
    </div>

{% endblock %}