{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="margin-bottom"></div>
        <div class="container">
            <p>Please confirm your email address to complete the registration</p>
            <p id="counter_text"></p>
        </div>

        <script type="text/javascript">
            let seconds = 5;
            function countDown() {
                setTimeout(function () {
                    let counterElement = $("#counter_text");
                    counterElement.text("Redirecting in " + seconds + " seconds.....");
                    seconds--;
                    if (seconds === 0) {
                        window.location.href = '/';
                    }
                    countDown();
                }, 1000);
            }
            countDown();
        </script>

{%  endblock %}