{% extends 'base.html' %}


{% block content %}

    <nav class="breadcrumbs" aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ffffff;">
            <li class="breadcrumb-item"><a href="{% url 'petspace_info:index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
        </ol>
    </nav>

    <div class="row">

        <div class="col-3">
            <br>
            <br>
            <p>Already have an account?</p>
            <a class="pet_space_button" href="{% url 'login' %}">Login</a>
        </div>

        <div class="col-9">

            <h2>Sign up</h2>

            <form method="post" id="form_signup_form">
                {% csrf_token %}

                <table class="table table-hover table-bordered">
                    {% for field in form %}

                        <tr>
                            <td>{{ field.label_tag }}</td>
                            <td>{{ field }}
                                {% if field.help_text %}
                                    <small style="display: none">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td></td>
                        <td><input class="pet_space_button" type="submit" value="Sign up"/></td>
                    </tr>

                </table>
            </form>
        </div>
    </div>
{% endblock %}