{% extends 'base.html' %}

{% block content %}
    {% load static %}

    <nav class="breadcrumbs" aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ffffff;">
            <li class="breadcrumb-item"><a href="{% url 'petspace_info:index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-sm-4">
            <img class='pet_profile_picture img-thumbnail img-fluid full-width margin-bottom'
                 src="{% static 'images/about_us.jpg' %}" alt="#">
        </div>
        <div class="col-sm-8">
            <h1>About Us</h1>
            <p>My name is Jessica Woolard</p>
            <p>I wanted to be able to create an application that would allow pet owners a different way of being able to have their pet found. This app will create a custom QR code for your animal and when scanned will pull up a custom web page that has information all about your pet. This page will also have a link so you can be contacted when that QR code is scanned.</p>
            <p>I decided to make this website for a final project that I had to make for Carolina Code school. </p>
        </div>
    </div>

{% endblock %}
