{% extends 'base.html' %}

{% block content %}
    {% load static %}

    <nav class="breadcrumbs" aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ffffff;">
            <li class="breadcrumb-item"><a href="{% url 'petspace_info:index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-sm-4">
            <img class='pet_profile_picture img-thumbnail img-fluid full-width margin-bottom'
                 src="{% static 'images/about_us.jpg' %}" alt="#">
        </div>
        <div class="col-sm-8">
            <h1>About</h1>
            <br>
            <p>My name is Jessica Woolard.</p>
            <p>I decided to make Pet Space as my final project for the Carolina Code School. </p>
            <p>I wanted to be able to create an application that would allow pet owners an alternative way of having their pet found. This web application generates a custom QR code for your pet. When scanned it retrieves a custom pet profile that has information all about your pet. This page provides a link so you can be contacted when that QR code is scanned.</p>

        </div>
    </div>

{% endblock %}
