{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">

        <title>Pet Space</title>
    </head>
    <body>
        <div class="container">
            <header>
                <div class="brand_container">
                    {% if user.is_authenticated %}
                        <span class="user_greeting text-capitalize">Hi {{ user.first_name }}!</span>
                    {% endif %}
                    <div class="brand">
                        <a href="{% url 'petspace_info:index' %}"><img alt="Pet Space Logo"
                                                                       src="{% static 'images/logo.png' %}"
                                                                       width="150px" height="150px"/></a>
                    </div>
                </div>
                {% include 'navigation_bar.html' %}
            </header>
            {% block content %}

            {% endblock %}
            <footer>
                <div class="footer_navigation">
                    <p><a href="{% url 'petspace:about_us' %}">About Us</a></p>
                </div>
                <div class="footer_navigation">
                    <p><a href="{% url 'petspace:our_story' %}">Our Story</a></p>
                </div>
                <div class="footer_navigation">
                    <p><i class="large material-icons">pets</i></p>
                </div>
                <div class="footer_navigation">
                    <p><a href="{% url 'petspace:contact' %}">Contact</a></p>
                </div>
                <div class="footer_navigation">
                    <p><a href="{% url 'petspace:photo_gallery' %}">Photo Gallery</a></p>
                </div>
            </footer>
        </div>

        <script
                src="http://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
        <script src="{% static 'js/parsley.js' %}"></script>

        <script src="{% static 'js/main.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf4iMCdsQwy3qhO-7SqUw4IcwHu5GqjlE&callback=initMap"></script>
        <script>
            (function ($) {
                $(function () {
                    $('#form_signup_form').parsley();

                });
            }(jQuery));
        </script>


    </body>
</html>