{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">

        <title>Pet Space</title>
    </head>
    <body>
        <div class="container">
            <header>
                <div class="brand_container">
                    <div class="brand">
                        <a href="{% url 'petspace_info:index' %}"><img alt="Pet Space Logo"
                                                                       src="{% static 'images/logo.png' %}"
                                                                       width="150px" height="150px"/></a>
                    </div>
                </div>
                {% include 'navigation_bar.html' %}
            </header>
            <div style="min-height: 500px;">
            {% block content %}

            {% endblock %}
            </div>
            <footer>
                <div class="margin-bottom"></div>
                <ul class="nav justify-content-center">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'petspace:about_us' %}">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'petspace:our_story' %}">Our Story</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'petspace_info:index' %}"><i class="large material-icons">pets</i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'petspace:contact' %}">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'petspace:photo_gallery' %}">Photo Gallery</a>
                  </li>
                </ul>

            </footer>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
        <script src="{% static 'js/parsley.js' %}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAI7UpjEWT4Zw6yHTcXF6HPXEcjCjZrlxQ&callback=initMap"></script>
        <script src="{% static 'js/lightbox.js' %}"></script>

        <script>
            lightbox.option({
              'resizeDuration': 200,
              'wrapAround': true
            })
        </script>
        <script src="{% static 'js/main.js' %}"></script>

    </body>
</html>