{% extends 'base.html' %}

{% block content %}
    {% load static %}

    <nav class="breadcrumbs" aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ffffff;">
            <li class="breadcrumb-item"><a href="{% url 'petspace_info:index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-sm-4">
            <img class='pet_profile_picture img-thumbnail img-fluid full-width margin-bottom'
                 src="{% static 'images/cat-dog.jpg' %}" alt="#">
        </div>
        <div class="col-sm-8">
            <div class="row">
                <h1>Contact</h1>
                <p>You may contact us with questions or comments. Our email is petspacegville@gmail.com. Feel free to reach out with an suggestions!</p>
            </div>
        </div>
    </div>


{% endblock %}
