{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'petspace_info:logout' %}">Logout</a></p>
        <div>
            <a href="{% url 'petspace:dashboard' %}">Go to my dashboard</a>
        </div>
    {% else %}
        <div>
            <p>You are not logged in</p>
            <button><a href="{% url 'petspace_info:login' %}">Login</a></button>
        </div>
        <div>
        <button><a href="{% url 'accounts:signup' %}">Signup</a></button>
        </div>
    {% endif %}

{% endblock %}
