
$pet-space-blue: #41b3d3;
$pet-space-gray: #e4e4e4;
body {
  header {
    //border-bottom: black solid 2px;
    header {

    }
    .brand_container {
      position: relative;
      height: 150px;
      .user_greeting {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
    .brand {
      position: absolute;
      left: 50%;
      margin-left: -75px !important; /* 50% of your logo width */
      display: block;
    }
    .navbar {
      background-color: $pet-space-gray;
      .right-nav {
        .nav-item {
          margin-right: 10px;
        }
      }
    }

    .breadcrumbs {
      background-color: #ffffff;
    }
  }

  .pet_space_button {
    padding: 4px 20px;
    background-color: $pet-space-blue;
    border-radius: 4px;
    border: none;
    text-align: center;
    color: #ffffff;
    :visited {
      color: #ffffff;
    }
  }

  .full-width {
    width: 100%;
  }

  .header_navigation {
  }

  .pet_name {
    margin: 10px;
  }

  .current_pet_link {
    display: inline-flex;
  }

  .pet_profile_picture {
    //width: 200px;
  }

  .pet_picture_dashboard {
    width: 50px;
    height: 70px;
  }

  .home_picture {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .right-border {
    border-right: $pet-space-gray;
  }

  .pet_lost {
    background-color: red;
  }

  footer {
    text-align: center;
    a {
      color: $pet-space-blue;
    }
  }

  .footer_navigation {
    display: inline-block;

    p {
      padding: 20px;
    }

  }

  .margin-bottom {
    margin-bottom: 20px;
  }

  .margin-bottom-half {
    margin-bottom: 10px;
  }
  div {
    .map {
      width: 100%;
      height: 200px;
    }
  }
}