
body {
  header {
    border-bottom: black solid 2px;
  }
  .header_navigation {
  }
  .pet_name {
    margin: 10px;
  }
  .current_pet_link {
    display: inline-flex;
  }
  img {
    width: 200px;
  }


  .footer_navigation {
    display: inline-block;
    p {
      padding: 20px;
    };
  }
}