{% extends 'base.html' %}

{% block content %}
    {% load static %}

    <nav class="breadcrumbs" aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ffffff;">
            <li class="breadcrumb-item"><a href="{% url 'petspace_info:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'petspace:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Pet Profile</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <form action="{% url 'petspace:add_pet' %}" method="post" novalidate id="form_signup_form"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-hover table-bordered">
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td>
                            <input class="pet_space_button" type="submit" value="Add Pet"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

{% endblock %}