{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-4 pet_profile_picture">
                <img src="{{ pet.picture.url }}" alt="#">
            </div>
            <div class="col-3 pet_name">
                {{ pet.name }}
            </div>
            <div class="col-4 alert_button">
                <button>Email my Owner</button>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ pet.type_of_animal }}
            </div>
            <div class="col-6">
                {{ pet.description }}
            </div>
        </div>
        {% if user.is_authenticated %}
            <a href="{% url 'petspace_info:index' %}">Return Home</a>
            <div>
            <button><a href="{% url 'petspace:dashboard' %}">Back to my dashboard</a></button>
        {% endif %}    </div>

    </div>

{% endblock %}