{% extends 'base.html' %}

{% block content %}
    {% load qr_code %}

    <nav class="breadcrumbs" aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #ffffff;">
            <li class="breadcrumb-item"><a href="{% url 'petspace_info:index' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li class="breadcrumb-item"><a href="{% url 'petspace:dashboard' %}">Dashboard</a></li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">{{ pet.name }}</li>
        </ol>
    </nav>

    <div class="row">
        {% if pet.lost %}
            <div class="col-12">
                <div class="alert alert-danger margin" role="alert">
                    {{ pet.name }} is lost!
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row">

        <div class="col-3">
            <img class='pet_profile_picture img-thumbnail img-fluid full-width' src="{{ pet.picture.url }}" alt="#">
            <div class="row">
                <p>{{ pet.name }}</p>
            </div>
            <a class="pet_space_button full-width" href="mailto:{{ email_address }}">Email my Owner</a>
            <div class="row">
                {% qr_from_text url_string options=my_options %}
            </div>
        </div>

        <div class="col-9">
            <div class='map' id='map' data-user-id="{{ pet.user_id }}"></div>

            <div class="row">
                Type of Animal: {{ pet.type_of_animal }}
            </div>
            <div class="row">
                Description: {{ pet.description }}
            </div>
        </div>

    </div>

{% endblock %}