{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-6">
            <p>Welcome {{ user.username }}</p>
            </div>
            <div class="col-6 edit_profile_button">
                <a href="{% url 'frontend:update_user' %}">Edit my profile</a>
            </div>
        </div>

    <div>

    </div>
        <div>
            <button><a href="{% url 'petspace:add_pet' %}">Add a new pet</a></button>
        </div>
        {% for pet in pets %}
            <div class="current_pet_link">
                <img class='pet_picture_dashboard' src="{{ pet.picture.url }}" alt="#">
                <div>
                    <a href="{% url 'petspace:pet_profile' pet.id %}">{{ pet.name }}</a>
                    <button class="edit_button"><a href="{% url 'petspace:edit_pet' pet.id %}">Edit pet profile</a></button>
                </div>
                <form method="post" action="{% url 'petspace:lost_pet' pet.id %}">
                    {% csrf_token %}
                    {% if pet.lost %}
                        <input class='pet_lost' type="submit"  value="Flag as found" />
                    {% else %}
                         <input type="submit" value="Flag as lost" />
                    {% endif %}
                </form>
            </div>
        {% endfor %}

    </div>
{% endblock %}